<hibernate-configuration>
	<session-factory>

<!--		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3307/db_hwd8293a_2</property>
		<property name="hibernate.connection.username">drm5337a</property>
		<property name="hibernate.connection.password">drm5337a</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Sessions -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mise à jour automatique -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL8Dialect
		</property>
		<property name="hibernate.storage_engine">innodb</property>
        <!-- PAS DE MAPPING ICI — HibernateUtil le fait déjà -->
    </session-factory>
</hibernate-configuration>
