<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Projet_Agile_Groupe_2</display-name>
  <welcome-file-list>
    
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>

	<servlet>
        <servlet-name>Parent</servlet-name>
        <jsp-file>/jsp/parent.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Parent</servlet-name>
        <url-pattern>/Parent</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Coach</servlet-name>
        <jsp-file>/jsp/coach/PageCoach.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Coach</servlet-name>
        <url-pattern>/Coach</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Secretaire</servlet-name>
        <jsp-file>/jsp/secretaire.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Secretaire</servlet-name>
        <url-pattern>/Secretaire</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/jsp/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Absence</servlet-name>
        <jsp-file>/jsp/parent/absence.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Absence</servlet-name>
        <url-pattern>/Absence</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

    <!-- "/secretaire/profil" => ctrl.secretaireProfilCtrl -->
    <servlet>
        <servlet-name>SecretaireProfil</servlet-name>
        <servlet-class>ctrl.secretaireProfilCtrl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecretaireProfil</servlet-name>
        <url-pattern>/secretaire/profil</url-pattern>
    </servlet-mapping>


    <!-- "/secretaire/profil/creerCompte" & "/secretaire/profil/creerCompteFamile" => ctrl.secretaireRequestCreerCompteFamile -->
    <servlet>
        <servlet-name>SecretaireCreerCompteFamile</servlet-name>
        <servlet-class>ctrl.secretaireRequestCreerCompteFamile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecretaireCreerCompteFamile</servlet-name>
        <url-pattern>/secretaire/profil/creerCompte</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SecretaireCreerCompteFamile</servlet-name>
        <url-pattern>/secretaire/profil/creerCompteFamile</url-pattern>
    </servlet-mapping>


    <!-- "/secretaire/profil/edit" => ctrl.secretaireProfilEditCtrl -->
    <servlet>
    <servlet-name>SecretaireProfilEdit</servlet-name>
    <servlet-class>ctrl.secretaireProfilEditCtrl</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>SecretaireProfilEdit</servlet-name>
    <url-pattern>/secretaire/profil/edit</url-pattern>
    </servlet-mapping>

    <!-- "/secretaire/profil/modifier" => ctrl.secretaireModifierCompte -->
    <servlet>
        <servlet-name>ProfilModifier</servlet-name>
        <servlet-class>ctrl.secretaireModifierCompteCtrl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfilModifier</servlet-name>
        <url-pattern>/secretaire/profil/modifier</url-pattern>
    </servlet-mapping>

    <!-- "/secretaire/profil/batchCreate" => ctrl.secretaireBatchCreateCtrl -->
    <servlet>
        <servlet-name>ProfilBatchCreate</servlet-name>
        <servlet-class>ctrl.secretaireBatchCreateCtrl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfilBatchCreate</servlet-name>
        <url-pattern>/secretaire/profil/batchCreate</url-pattern>
    </servlet-mapping>

  <!--  "/parent/profil" => ctrl.parentProfilCtrl -->

  <servlet>
    <servlet-name>ParentProfil</servlet-name>
    <servlet-class>ctrl.parentProfilCtrl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ParentProfil</servlet-name>
    <url-pattern>/parent/profil</url-pattern>
  </servlet-mapping>

<!-- "/parent/profil/edit" => ctrl.parentProfilEditCtrl -->
<servlet>
  <servlet-name>ParentProfilEdit</servlet-name>
  <servlet-class>ctrl.parentProfilEditCtrl</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>ParentProfilEdit</servlet-name>
  <url-pattern>/parent/profil/edit</url-pattern>
</servlet-mapping>

<!--<servlet>-->
<!--    <servlet-name>ConfirmationMatchCtrl</servlet-name>-->
<!--    <servlet-class>ctrl.ConfirmationMatchCtrl</servlet-class>-->
<!--</servlet>-->

<!--<servlet-mapping>-->
<!--    <servlet-name>ConfirmationMatchCtrl</servlet-name>-->
<!--    <url-pattern>/confirmation/match</url-pattern>-->
<!--</servlet-mapping>-->



</web-app>
